.bg-maroon {
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 255, 255)) !important;
}

.jumbotron {
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 255, 255));
  padding-top: 5rem;
}

.navbar-color {
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 255, 255));
}

.btn-npu {
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 255, 255));
  border-color: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 255, 255));
}

.card .card-badge {
  position:absolute;
  top:-10px;
  left:-20px;
  padding:5px;
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 255, 255));
  color:white;
  font-size: 40px;
}
